html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body{
  background-image: url(https://wallpapercave.com/wp/wp3397973.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul, li {
  list-style: none;
  display: inline-block;
}